@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>

<!--单行代码块-->
@{ var myMessage = "hello world!";}
<!--行内表达式或变量-->
<p>The value of myMessage is : @myMessage</p>
<!--多行语句代码块-->
@{ 
    var greeting = "Welcome to our site!";
    var weekDay = DateTime.Now.DayOfWeek;
    var greetingMessage = greeting + "Here in Huston it is:" + weekDay;
}
<p>The greeting is :@greetingMessage</p>
@{ 
    var txt = "";
    if(DateTime.Now.Hour >12)
    {
        txt = "Good Evening";
    }
    else
    {
        txt = "Good Morning";
    }
}
<p>The message is @txt</p>
@{ 
    var totalMessage = "";
    if(IsPost)
    {
        var num1 = Request["text1"];
        var num2 = Request["text2"];
        var total = num1.AsInt() + num2.AsInt();
        totalMessage = "Total =" + total;
    }
}
<form action="/" method="post">
    <p>
        <label for="text1">First number:</label>
        <br />
        <input type="text" name="text1" value=" " />
    </p>
    <p>
        <label for="text2">Second number:</label>
        <br />
        <input type="text" name="text2" value=" " />
    </p>
    <p><input type="submit" name=" " value="Add" /></p>
</form>
<p>
    @totalMessage
</p>
@{ 
    string[] members = { "jani", "hege", "kai", "jum" };
    int i = Array.IndexOf(members, "kai") + 1;
    int len = members.Length;
    string x = members[2 - 1]; 
}
@foreach( var person in members)
{
    <p>@person</p>
}
<p>The number of names in members are @len</p>
<p>The person at position 2 is @x</p>
<p>Kai is now in position @i</p>
@{ 
    var weekday = DateTime.Now.DayOfWeek;
    var day = weekday.ToString();
    var message = "";
}
@switch (day)
{
    case "Monday":
        message = " this is Monday";
        break;
    case "Thursday":
        message = " this is Thursday";
        break;
    case "Friday":
        message = " Tomorrow is Weekend";
        break;
    default:
        message = "Today is" + day;
        break;
}
<p>@message</p>